body    {
    background-image: url(images/stucco/stucco.png);
    margin-left: 10px;
    margin-right: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #111;
  top: 0; 
  width: 100%; 
}
.navbar a {
  float: left;
  display: block;
  color: #222;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

h1  {
    font-size: 45px;
    font-family: sans-serif;
    margin-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:antiquewhite;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
  color:skyblue;
}

.photo img {
    height: 350px;
    padding-right: 20px;
}

h4 {
    background-color:azure;
    padding: 20px;
}

h4 p {
    font-family: serif;
    font-size: 12px; 
}

.price {
    color: red;
}

h3 {
    font-family: sans-serif;
    font-size: 20px;
}

table th  {
    align-content: 
}