header, footer {
    color:white;
    background-color:#213643;
    
}

nav{
    background color:#728896
    
}

h1, h2 ,h3  {
    font-family:"Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
    
}

body    {
    font-family: Georgia, Cambria, "Times New Roman", serif;
}