body { /*inheritable*/
  font-weight: bold;
  color: red;
}

div {
    font-weight:normal;
    color:darkgoldenrod
}

p {
    color:green;
}

.last {
    color:blue;
    
}

#verylast {
    color:orange;
    font size:20px;
}