ul {
    list-style-type:none;
    margin:0;
    padding:0;
    border:1px dotted blue;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
    justify-content:space-between;
    align-items:center;
    height:200px;
}

li{
    border:1px black;
    margin:0.5em;
    padding:0.5em;
}

.flex1 {
    order:1;
    flex-basis:20%;
    border:3px dotted blue;
}

.flex2 {
    order:2;
    flex:2 2 5em;
    border:3px dotted orange;
}