.container {
    border: 5px solid #ffcc5c;
    display:flex;
}

.search {
    flex 1;
}

.container > li {
    flex:1 1 100%;
}

.search > input {
    text-align:center;
        
    }
.container > div {
    padding:20px;
    text-align:center;
    font-size: 2cm;
    color: aqua
}

body {
    margin:0;
}

html, body {
    box-sizing: border-box;
    height:100%;
    padding:11px;
    background-color:chartreuse
}

.container > div:nth-child(1){
    background-color:darkgreen
}

.container > div:nth-child(2){
    background-color: #ff6f69
}

.container > div:nth-child(3){
    background-color: #88db8b
}



ul {
    list-style-type:none;
    margin:0;
    padding:0;
    border:1px dotted red;
    display:flex;
    flex-direction:column-reverse;
    
}