<link rel="stylesheet" href="flexbox2.css">  

<ul>
    <li class="flex1">one</li>
    <li class="flex1">two</li>
    <li class="flex1">three</li>
    <li class="flex1">four</li>
    <li class="flex1">five</li>

</ul>