body    {
    margin:0;
    padding:0;
    font-size:16px;
}

header {
    background:blue;
    margin:0;
    padding:0;
    color:white;
    border:1px solid black;
}

body > #container > nav {
    background:lightgreen;
    width:20%;
    float:left;
}

#container {
    /*width:1024px;*/
    width:90%; 
    margin:0 auto;
    padding:0;
}

main   {
    background:yellow;
    width:80%;
    margin-left:20%
} 

footer {
    background:lightpink;
}

@media only screen and (max-width: 690px) {
    body> #container > nav {
        float:none; /*remove the float*/
        width:100%; /*change from 20%*/
    }
    main {
        margin-left:0; /*change from 20%*/
        width:100%; /*change from 80%*/
    }
    
}

/*
h1, h2, h3  {
    margin:0;
    padding:0;
}

header h1   {
    background:black;
    width:50vw;
}

header h2   {
    background:red;
    width:50%;
}

header h3   {
    background:green;
    width:100vw;
}