/*   {
    font-family:verdana, sans-serif;
    font-size:100%;
    padding:0;
    margin:0;
}

body {
    background-image:url(images/sun.JPG);
    background-repeat: no-repeat;
    background-position:center;
}

.home header {background-color:red;
    
}
.blog header {background-color:green;

}

.contact header {background-color:orange;

}

.portfolio header {background-color:blue;

}

.bio header {background-color: firebrick

}

h1 a, h2 ,h3 {
    font-family:Georgia;
}

header {
    margin:5px 25px 45px 65px;
    border-top:5px dashed black;
    border-right:10px solid yellow;
    border-bottom:20px dotted pink;
    border-left:30px solid brown;
    padding:65px 45px 25px 5px;
}

nav {
    background-color: aqua;
    padding:25px;
}

nav a   {color:magenta;
    text-decoration:none;
}

nav a:hover {
    color:green;
}

nav ul  {
    list-style:none;
    padding:0;
    margin:0;
    border:0;
}

li  {
     display:inline;
    background:yellow;
    padding:15px;
}

main {
    background:lightgreen;
}

footer nav  {
    background:red;
}

img {
    float:right;
}

footer nav  {
    float:right;
}
*/

#errors {
    color:red;
    font-weight:bold;
}








