body {
    position:relative;
    background:#efc;
}

header {
    background-color:rgba(255,0,0,.5);
    position:absolute;
    /*top:-50px;*/
    left:0px;
    bottom:0;
    /*right:0;*/
    padding:25px;
}

body > nav {
    position:absolute;
    bottom:30px;
    right:20px;
}

footer {
    border:4px solid black;
}

footer > nav {
    background:yellow; 
}

footer > nav > ul {
    list-style:none;
    padding:0;
    margin:0;
    /*position:relative;*/
    height:300px;
}

footer > nav > ul > li {
    position:absolute;
    top:0;
    right:0;
    padding:25px;
}

#linkin {background:light blue;
    top:20px;
    right:20px;
    z-index:100;
}

#twitter {
    background:lightgreen;
    top:40px;
    right:40px;
}

#instagram {
    background:lightpink;
    top:60px;
    right:60px;
    z-index:150;
}

#email {
    background:orange;
    top:80px;
    right:80px;
    z-index:200
}


main    {
    background:lightgreen;
    padding:50px;
    margin:50px;
    border:10px solid navy;
    font-size:200%;
    box-shadow:5px 5px 10px red;
}

main p {
   
}

li {
    border:2px solid black;
    border-radius:10px;
}
