table {
    border:4px solid black;
    width:80%;
    margin:2em auto;
    border-collapse: collapse;
    background:#ddd;
}

td, td  {
    padding:0.5em;
    border: 1px solid #666;
}

#first  {
    border-collapse: :separate;
    border-spacing:10px;
}

caption {
    text-transform: uppercase;
    font-weight:bold;
    font-size:3.0em;
    text-align:left;
    font-family:sans-serif;
    padding:.25em;
    background:#ccddff;
}

thread {
    background:#fdc;
}

tbody {background:white;}

tbody tr:nth-child(odd) {
    background:#cdf;
}